header {
  display: flex;
  padding-top: 120px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(218, 158, 7);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.bolded {
  font-weight: 600;
  color: white;
}

.light {
  font-weight: 300;
  color: white;
}
